django
django-environ
django-model-utils
django-allauth
django-extensions
django-debug-toolbar
django-crispy-forms
django-allauth
django-oauth-toolkit
djangorestframework
Collectfast
pytz
gunicorn
psycopg2
raven
ipdb
